

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");


.main {
  font-family: "Noto Sans", sans-serif !important;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.music-nav-main{
  background-color: #d8dbe7;
  -webkit-box-shadow: 5px 1px 15px 5px #000000; 
box-shadow: 5px 1px 15px 5px #000000;

}




.music-content-main{
  background-color: #f1f4f5;
  flex-grow: 1;
  overflow: hidden;
}
