.top-main-content{
    background-color: #fff;
    border-radius: 5px;
    flex-basis: content;
}

.bottom-main-content{
    flex-basis: content;
}



.main-content-title{
    color: #9a9aa6;
    font-weight: 600;
    letter-spacing: 0.9px;
    font-size: 0.8rem;
    
}


.main-top-artist{
    color: #9a9aa6;
    font-weight: 600;
    letter-spacing: 0.9px;
    font-size: 0.9rem;
    background-color: #fff;
    border-radius: 5px;
   
}

.main-top-track{
   
}

.main-top-genres{
    color: #9a9aa6;
    font-weight: 600;
    letter-spacing: 0.9px;
    font-size: 0.9rem;
    background-color: #fff;
    border-radius: 5px;
}

.main-music-player{
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.9px;
    font-size: 0.9rem;
    background-color: #32323d;
    border-radius: 5px;
    flex-basis: 30%;
}
.main-content{
    flex: 1;
}



.main-top-charts{
    color: #9a9aa6;
    font-weight: 600;
    letter-spacing: 0.9px;
    font-size: 0.9rem;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: 100%;
}

