
.recent-tracks{
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    color: #454f63;

    transition: 0.3s ease;
}
.recent-tracks:hover{
    text-decoration: underline;
}
.recent-tracks img{
    height: 100px;
    border-radius: 10px;
}

.recent-track-name{
    height: 50px;
    font-size: 12px;
    font-weight: 600;
}
