.album-main{
    background-color: #fff;
    border-radius: 5px;
}

.recent-main-wrapper{
    height: 200px;
    width: 200px;
    
}

.recent-main-image img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.recent-main-name{
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;

}

.recent-main-name:hover{
    text-decoration: underline;
}

.recent-main-artist-name{
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    color: #6e8797;

}

.recent-main-artist-name:hover{
    text-decoration: underline;
}