.title-search{
    font-size: 0.7rem;
    border: 1px solid #9a9aa6;
    border-radius: 5px;
    color: #9a9aa6;
}

input {
    border: none;
    width: 250px;
    height: 25px;
    background-color: transparent;
}

