.top-artist-wrapper{
    /* Let it fill the entire space horizontally */

     }

.top-artist-image img{
    height: 65px;
    width: 65px;
    border-radius: 50%;
}
 .artist-name{
     color: #454f63;
     font-size: 11px;
     height: 30px;
     overflow: hidden;
     cursor: pointer;
 }

 .artist-name:hover{
     text-decoration: underline;
}

 .artist-plays{
     color: #bfc2c4;
     font-size: 9px;
 }
