.album-main{
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}

.content-main{
    height: 600px;
    overflow: auto;
    padding-bottom: 80px;
}

.track-main-wrapper{
    height: 200px;
    width: 200px;
    
}

.track-main-image img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.track-main-name{
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;

}

.track-main-name:hover{
    text-decoration: underline;
}

.track-main-artist-name{
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    color: #6e8797;

}

.track-main-artist-name:hover{
    text-decoration: underline;
}